/UnityofWork.ApplicationProcess.Application/UnityofWork.ApplicationProcess.July2021.Data/bin/
/UnityofWork.ApplicationProcess.Application/UnityofWork.ApplicationProcess.July2021.Data/obj/
/UnityofWork.ApplicationProcess.Application/UnityofWork.ApplicationProcess.July2021.Domain/bin/
/UnityofWork.ApplicationProcess.Application/UnityofWork.ApplicationProcess.July2021.Domain/obj/
/UnityofWork.ApplicationProcess.Application/UnityofWork.ApplicationProcess.July2021.Web/bin/
/UnityofWork.ApplicationProcess.Application/UnityofWork.ApplicationProcess.July2021.Web/obj/